<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dishes list</title>
    <link rel="stylesheet" th:href="@{/css/cool_style.css}"/>
</head>
<body>
<a th:href="@{/nutrition}">Назад</a>

<div class="container">
    <h2 class="nutritionPageHead">Блюда:</h2>

    <a th:href="@{/nutrition/dishes/new}">Добавить</a>

    <table id="nutritionTable">
        <thead>
            <tr>
                <td>Название блюда</td>
                <td>белки</td>
                <td>жиры</td>
                <td>углеводы</td>
                <td>калорийность</td>
                <td>цена</td>
                <td>действие</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="tmpDish : ${dishes}">

                <td>
                    <a th:href="@{/nutrition/dishes/{id}/composition(id=${tmpDish.id})}">
                        <span th:text="${tmpDish.name}"/>
                    </a>
                </td>

                <td th:text="${tmpDish.protein}"/>
                <td th:text="${tmpDish.fat}"/>
                <td th:text="${tmpDish.nutrition}"/>
                <td th:text="${tmpDish.calories}"/>
                <td th:text="${tmpDish.price}"/>
                <td>
                    <a th:href="@{/nutrition/dishes/{id}/edit(id=${tmpDish.id})}">
                        Переименовать</a>
                    |
                    <a th:href="@{/nutrition/dishes/{id}/delete(id=${tmpDish.id})}">
                        Удалить</a>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>