<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление нового блюда</title>
</head>
<body>
<h3> Добавить новое блюдо</h3>
<div class="container">
    <form action="#" th:method="POST" th:action="@{/nutrition/dishes}" th:object="${dishForm}" >

        <!-- Name exists error -->
        <ul th:if="${#fields.hasErrors('global')}">
            <li th:each="err : ${#fields.errors('global')}" th:text="${err}">Input is incorrect</li>
        </ul>

        <!-- dish name -->
        <label for="dishName">Название блюда:</label>
        <input type="text" id="dishName" th:field="*{name}" autofocus="autofocus"/> <br/>
        <div class="alert alert-warning"
             th:if="${#fields.hasErrors('name')}"
             th:errors="*{name}">
        </div>




        <a th:href="@{/nutrition/dishes}">Назад</a>
        <input type="submit" value="Сохранить"/>
    </form>
</div>

</body>
</html>