<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products list</title>
    <link rel="stylesheet" th:href="@{/css/cool_style.css}"/>
    <script type="text/javascript">
        function hide(element){
            element.style.display = 'none'
        }
        function show(element){
            element.style.display = 'inline'
        }
        function selectDish(id){
            document.getElementById('dishId').value=`${id}`
            hide(document.getElementById('nutritionTable'))
            show(document.getElementById('weightInput'))
        }
        function dishList(){
            hide(document.getElementById('weightInput'))
            show(document.getElementById('nutritionTable'))
        }
        function addDish(){
            document.getElementById('weight').value=document.getElementById('dish_weight').value
            document.getElementById('eatTypeId').value=document.getElementById('eat_type').value
            document.getElementById('eatDate').value=document.getElementById('eat_date').value

            document.getElementById('usersDishesForm').submit()
        }
    </script>
</head>

<body>
<a th:href="@{/nutrition/menus}">Назад</a>

<div class="container">
    <h2 class="nutritionPageHead">Блюда:</h2>

    <table id="nutritionTable">
        <thead>
            <tr>
                <td>Название продукта</td>
                <td>белки</td>
                <td>жиры</td>
                <td>углеводы</td>
                <td>калорийность</td>
                <td>цена</td>
                <td>действие</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="tempDish : ${dishes}">
                <td th:text="${tempDish.name}"/>
                <td th:text="${tempDish.protein}"/>
                <td th:text="${tempDish.fat}"/>
                <td th:text="${tempDish.nutrition}"/>
                <td th:text="${tempDish.calories}"/>
                <td th:text="${tempDish.price}"/>
                <td>
                    <input type="button" th:onclick="|selectDish('${tempDish.id}')|" th:value="Добавить">
                </td>
            </tr>
        </tbody>
    </table>
    <div id="weightInput" style="display:none">

        <label name="dish_weight">Вес блюда:</label>
        <input type="text" name = "dish_weight" id="dish_weight"/>
        <br/>

        <label name="dish_weight">Время приема:</label>
        <input type="text" name = "eat_type" id="eat_type"/>
        <br/>

        <label name="dish_weight">Дата:</label>
        <input type="text" name = "eat_date" id="eat_date"/>

        <input type="button" th:onclick="|addDish()|" id="weightValue" value = "Добавить продукт к блюду">
        <input type="button" th:onclick="|dishList()|" value = "Назад">
    </div>
</div>

<form style="display:none" id='usersDishesForm' action="#" th:method="POST" th:action="@{/nutrition/menus/addDish}" th:object="${usersDishesForm}" >
    <input type="text" id="userId" th:field="*{userId}"/>
    <input type="text" id="dishId" th:field="*{dishId}"/>
    <input type="text" id="eatTypeId" th:field="*{eatTypeId}"/>
    <input type="text" id="eatDate" th:field="*{eatDate}"/>
    <input type="text" id="weight" th:field="*{weight}"/>
</form>

</body>
</html>