<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вас приветствует планировщик питания на каждый день</title>
    <link rel="stylesheet" th:href="@{/css/cool_style.css}"/>
</head>
<body>
<p th:text="'Здесь начинается планирование вашего питания.'" class="funny"/>

<div id="container">
    <div id="menu" class="menu">
        <div class="element">
            <a class="menuLink" th:href="@{/registration}">Зарегистрироваться</a>
        </div>

        <div class="element" sec:authorize="isAuthenticated()">
            <a class="menuLink" th:href="@{/user/profile}">Профиль</a>
        </div>

        <div class="element">

            <form sec:authorize="isAnonymous()" th:action="@{/login}" method="GET">
                <input type="submit" value="Войти"/>
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </form>

            <form sec:authorize="isAuthenticated()" th:action="@{/appLogout}" method="POST">
                <input type="submit" value="Выйти"/>
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </form>

            <!--<a class="menuLink" sec:authorize="isAuthenticated()" th:href="@{/appLogout}">Выйти</a>-->
        </div>

    </div>

</div>


</body>
</html>