<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new product</title>
</head>
<body>
<h3> Add new product</h3>
<div class="container">
    <form action="#"
          th:method="POST"
          th:action="@{/nutrition/products/{id}/update(id=${editProductForm.id})}"
          th:object="${editProductForm}">

        <!-- Name exists error -->
        <ul th:if="${#fields.hasErrors('global')}">
            <li th:each="err : ${#fields.errors('global')}" th:text="${err}">Input is incorrect</li>
        </ul>

        <input type="hidden" id="productId" th:field="*{id}"/>
        <!-- product name -->
        <label for="productName">Product name</label>:
        <input type="text" id="productName" th:field="*{name}" autofocus="autofocus"/> <br/>
        <div class="alert alert-warning"
             th:if="${#fields.hasErrors('name')}"
             th:errors="*{name}">
        </div>

        <!-- protein -->
        <label for="protein">Protein</label>:
        <input type="text" id="protein" th:field="*{protein}"/> <br/>
        <div class="alert alert-warning"
             th:if="${#fields.hasErrors('protein')}"
             th:errors="*{protein}">
        </div>

        <!-- fat -->
        <label for="fat">Fat</label>:
        <input type="text" id="fat" th:field="*{fat}"/> <br/>
        <div class="alert alert-warning"
             th:if="${#fields.hasErrors('fat')}"
             th:errors="*{fat}">
        </div>

        <!-- nutrition -->
        <label for="nutrition">Nutrition</label>:
        <input type="text" id="nutrition" th:field="*{nutrition}"/> <br/>
        <div class="alert alert-warning"
             th:if="${#fields.hasErrors('nutrition')}"
             th:errors="*{nutrition}">
        </div>

        <!-- price -->
        <label for="price">Price</label>:
        <input type="text" id="price" th:field="*{price}"/> <br/>
        <div class="alert alert-warning"
             th:if="${#fields.hasErrors('price')}"
             th:errors="*{price}">
        </div>

        <a th:href="@{/nutrition/products}">back</a>
        <input type="submit" value="Save"/>
    </form>
</div>

</body>
</html>