<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products list</title>
    <link rel="stylesheet" th:href="@{/css/cool_style.css}"/>
</head>
<body>
<a th:href="@{/nutrition}">Назад</a>

<div class="container">
    <h2 class="nutritionPageHead">Продукты:</h2>
    Вес указан на 100г. продукта.
    <br/>
    <br/>

    <a th:href="@{/nutrition/products/new}">Добавить</a>
    <table id="nutritionTable">
        <thead>
            <tr>
                <td>Название продукта</td>
                <td>белки</td>
                <td>жиры</td>
                <td>углеводы</td>
                <td>калорийность</td>
                <td>цена</td>
                <td>действие</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="tempProduct : ${products}">
                <td th:text="${tempProduct.name}"/>
                <td th:text="${tempProduct.protein}"/>
                <td th:text="${tempProduct.fat}"/>
                <td th:text="${tempProduct.nutrition}"/>
                <td th:text="${tempProduct.calories}"/>
                <td th:text="${tempProduct.price}"/>
                <td>
                    <a th:href="@{/nutrition/products/{id}/edit(id=${tempProduct.id})}">Редактировать</a>
                    |
                    <a th:href="@{/nutrition/products/{id}/delete(id=${tempProduct.id})}">Удалить</a>
                    <!--
                    <form th:method="GET" th:action="@{/nutrition/products/{id}/edit(id=${tempProduct.id})}">
                        <input type="submit" value="Редактировать">
                    </form>
                    <form th:method="GET" th:action="@{/nutrition/products/{id}/delete(id=${tempProduct.id})}">
                        <input type="submit" value="Удалить">
                    </form>-->
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>